# Database
DATABASE_URL=postgresql://admin:password@localhost:5432/crud_admin
POSTGRES_DB=crud_admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# JWT
JWT_ACCESS_SECRET=9f04e1b6a71652f9972c725ee9e69877d9d9a1475d7aafbd88f5d97377914a53
JWT_REFRESH_SECRET=a9c580967bbee8b6da392081c89fd5a31d1888bfb027861597aa4006568240ff

# AWS S3
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
S3_BUCKET_NAME=s3-aws-tranning

# App
PORT=3000
# Local dev: http://localhost:5173 | Docker: http://localhost (nginx on port 80) | Production: https://yourdomain.com
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
